<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- User Controller -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <!-- UserDetail Controller -->
    <servlet>
        <servlet-name>UserDetailServlet</servlet-name>
        <servlet-class>controllers.UserDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailServlet</servlet-name>
        <url-pattern>/userdetail/*</url-pattern>
    </servlet-mapping>
    <!-- Booking Controller -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controllers.BookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking/*</url-pattern>
    </servlet-mapping>
    <!-- BookingDetail Controller -->
    <servlet>
        <servlet-name>BookingDetailServlet</servlet-name>
        <servlet-class>controllers.BookingDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingDetailServlet</servlet-name>
        <url-pattern>/bookingdetail/*</url-pattern>
    </servlet-mapping>
    <!-- Service Controller -->
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>controllers.ServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <!-- CategoryService Controller -->
    <servlet>
        <servlet-name>CategoryServiceServlet</servlet-name>
        <servlet-class>controllers.CategoryServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServiceServlet</servlet-name>
        <url-pattern>/categoryservice/*</url-pattern>
    </servlet-mapping>
    <!-- Room Controller -->
    <servlet>
        <servlet-name>RoomServlet</servlet-name>
        <servlet-class>controllers.RoomController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomServlet</servlet-name>
        <url-pattern>/room/*</url-pattern>
    </servlet-mapping>
    <!-- Policy Controller -->
    <servlet>
        <servlet-name>PolicyServlet</servlet-name>
        <servlet-class>controllers.PolicyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyServlet</servlet-name>
        <url-pattern>/policy/*</url-pattern>
    </servlet-mapping>
    <!-- Notification Controller -->
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controllers.NotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification/*</url-pattern>
    </servlet-mapping>
    <!-- NotificationUser Controller -->
    <servlet>
        <servlet-name>NotificationUserServlet</servlet-name>
        <servlet-class>controllers.NotificationUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationUserServlet</servlet-name>
        <url-pattern>/notificationuser/*</url-pattern>
    </servlet-mapping>
    <!-- Message Controller -->
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>controllers.MessageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message/*</url-pattern>
    </servlet-mapping>
    <!-- News Controller -->
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>controllers.NewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news/*</url-pattern>
    </servlet-mapping>
    <!-- NewsImage Controller -->
    <servlet>
        <servlet-name>NewsImageServlet</servlet-name>
        <servlet-class>controllers.NewsImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsImageServlet</servlet-name>
        <url-pattern>/newsimage/*</url-pattern>
    </servlet-mapping>
    <!-- ServiceImage Controller -->
    <servlet>
        <servlet-name>ServiceImageServlet</servlet-name>
        <servlet-class>controllers.ServiceImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceImageServlet</servlet-name>
        <url-pattern>/serviceimage/*</url-pattern>
    </servlet-mapping>
    <!-- FeedbackService Controller -->
    <servlet>
        <servlet-name>FeedbackServiceServlet</servlet-name>
        <servlet-class>controllers.FeedbackServiceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServiceServlet</servlet-name>
        <url-pattern>/feedbackservice/*</url-pattern>
    </servlet-mapping>
    <!-- Cart Controller -->
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllers.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>
    <!-- Wallet Controller -->
    <servlet>
        <servlet-name>WalletServlet</servlet-name>
        <servlet-class>controllers.WalletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WalletServlet</servlet-name>
        <url-pattern>/wallet/*</url-pattern>
    </servlet-mapping>
    <!-- WalletTransfer Controller -->
    <servlet>
        <servlet-name>WalletTransferServlet</servlet-name>
        <servlet-class>controllers.WalletTransferController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WalletTransferServlet</servlet-name>
        <url-pattern>/wallettransfer/*</url-pattern>
    </servlet-mapping>
</web-app>
